extends layout

block title
  title= book.title

block body
  h1
  form
    p
      label(for="title") Title
      input(name="title" id="title" type="text" value=book.title)
    p
      label(for="author") Author
      input(name="author" id="author" type="text" value=book.author)
    p
      label(for="genre") Genre
      input(name="genre" id="genre" type="text" value=book.genre)
    p
      label(for="year") Year
      input(name="year" id="year" type="text" value=book.year)
    p
      input(type="submit", value="")